.quiz__answers-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 25px;
}

.quiz__answers-button_submit {
  background-color: #b9b9b9;
}

.quiz__answers-button_active {
  background-color: #9ef0ff;
}
